#container{
    display: grid;
    grid-template-columns: repeat(16, 30px);
    grid-gap: 20px;
}

.blocks{
    height: 30px;
}

button{
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
}